
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #43996a;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #43996a;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #43996a;
}

/* Hide scrollbar arrows (for some browsers) */
::-webkit-scrollbar-button {
  display: none !important;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #43996a #f1f1f1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}



/* side nav */

.custom-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
  background-color: #06175d !important; /* Tailwind blue-600 */
  color: white !important;
}
.custom-menu .ant-menu-item-selected {
  background-color: #43996a !important; /* Tailwind emerald-900 */
  color: #fcfcfc !important; /* Tailwind green-500 */
  font-weight: 600  ;
}
 .ant-menu .ant-menu-sub {
    padding-left: 2rem !important;
    box-shadow: none !important;
}


